#include <windows.h>

SETUP_DIALOG DIALOG 0, 0, 200, 200
STYLE WS_CAPTION
CAPTION "Wnerwiacz Direct3D Setup"
FONT 8, "MS Sans Serif"
{
    LTEXT "Tryb graficzny:", 101, 10, 10, 180, 10
    CONTROL "", 201, "COMBOBOX", WS_CHILD | WS_TABSTOP | CBS_DROPDOWNLIST | WS_VSCROLL, 10, 22, 120, 100
    LTEXT "Czêstotliwoœæ odœwierzania:", 102, 10, 39, 180, 10
    CONTROL "", 202, "COMBOBOX", WS_CHILD | WS_TABSTOP | CBS_DROPDOWNLIST | WS_VSCROLL, 10, 51, 120, 100
    PUSHBUTTON "Anuluj", IDCANCEL, 125, 180, 70, 15, WS_TABSTOP
    DEFPUSHBUTTON "OK", IDOK, 50, 180, 70, 15, WS_TABSTOP
}    
